{% extends "archive.html" %}

{% block mainbody %}
      <!-- Begin page content -->
      <div>
        <form class="form-horizontal" role="form" action="deploy" method="post">
          <div class="form-group">
            <label for="apps" class="col-lg-1 control-label">APP:</label>
            <div class="col-lg-2">
              <select class="form-control" id="app_combobox" name="app" placeholder="Select app...">
                {% for app in apps %}
                <option value={{ app }}>{{ app }}</option>
                {% endfor %}
              </select>
              <!--{{ form }}-->
            </div>
            <label for="version" class="col-lg-1 control-label">version:</label>
            <div class="col-lg-2">
              {% if version %}
              <input class="form-control" name="version">{{ version }}
              {% else %}
              <input class="form-control" name="version">
              {% endif %}
            </div>
            <label for="targetdesc" class="col-lg-1 control-label">target:</label>
            <div class="col-lg-2">
              <input class="form-control" name="targetdesc">
            </div>
            {% csrf_token %}
            <input type="submit" value="icafe" class="btn btn-default" name="icafe"/>
            <input type="submit" value="start" class="btn btn-default" name="start"/>
            <input type="submit" value="goon" class="btn btn-default" name="goon"/>
            <input type="submit" value="cancel" class="btn btn-default" name="cancel"/>
          </div>
        </form>
      </div>
{% endblock %}
